PracticaMARP/Debug/*
PracticaMARP/PracticaMARP.vcxproj
PracticaMARP/PracticaMARP.vcxproj.filters
PracticaMARP/PracticaMARP.vcxproj.user
PracticaMARP.opensdf
PracticaMARP.sdf
PracticaMARP.sln
PracticaMARP.v12.suo
Debug/*
Release/*
PracticaMARP/Release/*
PracticaMARP/debug.log